:root {

  --ii-space-1:4px;
  --ii-space-2:8px;
  --ii-space-3:12px;
  --ii-space-4:16px;
  --ii-space-5:20px;
  --ii-space-6:24px;
  --ii-space-7:32px;
  --ii-space-8:40px;
  --ii-space-9:48px;
  --ii-space-10:64px;

}